### SERVER ###
venv/
db.sqlite3
.idea/
__pycache__/
media/
staticfiles/
migrations/

# SET
# .env [Note: 대회용 만들기]

### REACT ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components