.RandingPage-container {
    display: flex;
    justify-content: center;
}
.RandingPage-container > .recommend-area {
    width: 30vw;
}
.RandingPage-container > .diary-area {
    width: 30vw;
}
.RandingPage-container > .randingpage-area {
    margin: 0 1rem 0 1rem;
}