@charset "utf-8";

/* font */
@font-face {
    font-family: "spoqa-bold";
    src: url("../font/SpoqaHanSansNeo-Bold.otf");
}
@font-face {
    font-family: "spoqa-light";
    src: url("../font/SpoqaHanSansNeo-Light.otf");
}
@font-face {
    font-family: "spoqa-medium";
    src: url("../font/SpoqaHanSansNeo-Medium.otf");
}
@font-face {
    font-family: "spoqa-regular";
    src: url("../font/SpoqaHanSansNeo-Regular.otf");
}
@font-face {
    font-family: "spoqa-thin";
    src: url("../font/SpoqaHanSansNeo-Thin.otf");
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'spoqa-regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
