/* Diary */
.Diary > .Diary-container {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0 1rem 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 1rem;
    border-radius: 3%;  
}
.Diary > .Diary-container:hover {
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.15);
    transition: 0.2s ease-out;
}
.Diary > .Diary-container > .profile {
    display: flex;
    margin-bottom: 15px;
}
.Diary > .Diary-container > .profile > .name {
    align-items: center;
    justify-content: center;
    margin-top: .1rem;
}
.Diary > .Diary-container > .profile > .name > .nickname {
    font-size: 1.2rem;
}
.Diary > .Diary-container > .profile > .name > .username {
    color: gray;
}
.Diary > .Diary-container > .profile > .image {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: .75rem;
}
.Diary > .Diary-container > .profile > .image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.Diary > .Diary-container > .diary-content > .title {
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.Diary > .Diary-container > .diary-content > .content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.Diary > .Diary-container > .diary-content > .image {
    text-align: center;
    width: 90%;
    margin: auto;
    
}
.Diary > .Diary-container > .diary-content > .image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 3%;
}
.Diary > .Diary-container > .diary-reaction {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}
.Diary > .Diary-container > .diary-reaction > .icon {
    display: flex;
    justify-content: center;
}
.Diary > .Diary-container > .diary-reaction > .icon > svg {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: .5rem;
}

/* Footer */
.Footer {
    text-align: center;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
}
.Footer > .Footer-container {
    display: flex;
    justify-content: center; 
}
.Footer > .Footer-container > .logo-area {
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Footer > .Footer-container > .logo-area > .logo-string >.Nuri {

}



/* Header */
.Header {
    padding: 1rem;
    font-size: 1rem;
}
.Header > .navbar {
    display: flex;
}
.Header > .navbar > .logo-area {
    display: flex;
    margin: 0 4rem 0 4rem;
}
.Header > .navbar > .logo-area > a {
    display: flex;
    align-items: center;
}
.Header > .navbar > .logo-area > a > .logo {
    display: flex;
    align-items: center;
}
.Header > .navbar > .nav-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
}
.Header > .navbar > .nav-input > input {  
    border: none;
    border-radius: .3rem;
    background: #E9EAEB;
    height: 2.5rem;
    width: 100%;
    vertical-align: middle;
}
.Header > .navbar > .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.Header > .navbar > .nav-menu > a {
    margin: 0 1.5rem 0 1.5rem;
}
.Header > .navbar > .nav-menu > .active {
    color: #4CA771;
}
.Header > .navbar > .nav-menu > button {
    padding: 5px;
    border: none;
    border-radius: .3rem;
    background: #4CA771;
    margin: 0 3rem 0 1.5rem;
}

/* ProfileCard */
.ProfileCard {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.ProfileCard:hover {
    transition: 0.5s ease-out;
    background-color: #E2E2E2;
}
.ProfileCard > .ProfileCard-container {
    display: flex;
    width: 100%;
}
.ProfileCard > .ProfileCard-container > .image {
    width: 70px;
    height: 70px;
    border-radius: 30%;
    overflow: hidden;
    margin: 0rem 0.75rem;
    flex-shrink: 0;
    flex-direction: column;
}
.ProfileCard > .ProfileCard-container > .image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.ProfileCard > .ProfileCard-container > .inform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}
.ProfileCard > .ProfileCard-container > .btn {
    border: none;
    padding: 5px;
    background-color: black;
    height: 1.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    margin-left: auto;
    margin-top: 1.15rem;
    margin-right: 1rem;
}
.ProfileCard > .ProfileCard-container > .btn:hover {
    animation: vibration .1s infinite;
}
@keyframes vibration {
    from {
      transform: rotate(1deg);
    }
    to {
      transform: rotate(-1deg);
    }
}
.ProfileCard > .ProfileCard-container > .btn > button {
    all: unset;
}


/* NotFound */