/* diaryShelf */
.DiaryShelf {
    width:1600px;
    margin: 0 auto;
    padding: 50px 0;
}
.DiaryShelf > .note-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.DiaryShelf > .note-grid > a {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px; /*임시*/
}

/* diaryDetail */
.DiaryDetail > .DiaryDetail-container {
    max-width: 70vw;
    margin:auto;
}

/* diaryList */
.DiaryList > .DiaryList-container {
    max-width: 70vw;
    margin:auto;
}
