/*  Note */
a.NoteA {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
}
a.NoteA:hover {
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,.15);
    transition: 0.3s ease-out;
}
a.NoteA > .Note > .card > p {
    text-align: center;
    padding: 0 .5rem 0 .5rem;
}
a.NoteA > .Note > .card > .title {
    font-size: 1.1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
a.NoteA > .Note > .card > .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    padding-bottom: .5rem;
}


/* diaryShelf */
.DiaryShelf {
    max-width: 70vw;
    margin: auto;
    padding: 50px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
.DiaryShelf > .DiaryShelf-container > .note-grid {
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-template-rows: 180px 180px 180px;
    grid-gap: 20px;
    width: 100%;
}
.DiaryShelf > .DiaryShelf-container > a > .plus {
    float: right;
    color: #4CA771;
    display: flex;
    vertical-align: middle;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
.DiaryShelf > .DiaryShelf-container > a > .plus > svg {
    margin-top: .1rem;
}

/* diaryDetail */
.DiaryDetail > .DiaryDetail-container {
    max-width: 60vw;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 1rem 1.5rem 1rem 1.5rem;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.DiaryDetail > .DiaryDetail-container > .profile {
    display: flex;
    margin: 15px 0 15px 0;
}
.DiaryDetail > .DiaryDetail-container > .profile > .name {
    align-items: center;
    justify-content: center;
    margin-top: .1rem;
}
.DiaryDetail > .DiaryDetail-container > .profile > .name > .nickname {
    font-size: 1.2rem;
}
.DiaryDetail > .DiaryDetail-container > .profile > .name > .username {
    color: gray;
}
.DiaryDetail > .DiaryDetail-container > .profile > .image {
    width: 50px;
    height: 50px;
    border-radius: 70%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: .75rem;
}
.DiaryDetail > .DiaryDetail-container > .profile > .image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.DiaryDetail > .DiaryDetail-container > .cover-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.DiaryDetail > .DiaryDetail-container > .cover-area > .title-reaction-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.DiaryDetail > .DiaryDetail-container > .cover-area > .title-reaction-container > .title {
    font-size: 1.5rem;
}
.DiaryDetail > .DiaryDetail-container > .cover-area > .title-reaction-container > .diary-reaction {
    display: flex;
}
.DiaryDetail > .DiaryDetail-container > .cover-area > .title-reaction-container > .diary-reaction > .icon {
    display: flex;
    margin: 0 1rem 0 1rem;
}
.DiaryDetail > .DiaryDetail-container > .cover-area > .title-reaction-container > .diary-reaction > .icon > svg {
    margin-right: .5rem;
}
.DiaryDetail > .DiaryDetail-container > .cover-area > .cover-image {
    text-align: center;
    width: 90%;
    margin: auto;
}
.DiaryDetail > .DiaryDetail-container > .cover-area > .cover-image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 3%;
}

/* diaryList */
.DiaryList > .DiaryList-container {
    max-width: 60vw;
    margin:auto;
}
.DiaryList > .DiaryList-container > a > p.writeBtn > button {
    margin-bottom: 15px;
    margin-top: 1rem;
    background-color: black;
    width: 88px;
    text-align: center;
    border-radius: 9999px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: none;
    font-size: 16px;
    float: right;
}
.DiaryList > .DiaryList-container > a > p.writeBtn > button:hover {
    background-color: #4CA771;
    transition: 0.3s ease-out;
}

/* diaryCreate */
.DiaryCreate > .DiaryCreate-container {
    max-width: 60vw;
    margin:auto;
}
.DiaryCreate > .DiaryCreate-container > p.title {
    border-bottom: 1px solid #d6d6d6;
    background-color: #fff;
    margin-bottom: 15px;
    margin-top: 25px;
}
.DiaryCreate > .DiaryCreate-container > p.title > input {
    border: 0;
    width: 100%;
    height: 28px;
    line-height: 28px;
    color: #292929;
    font-size: 26px;
    outline: none;
    padding: 1rem;
}
.DiaryCreate > .DiaryCreate-container > p.submit > button {
    margin-bottom: 15px;
    margin-top: 1rem;
    background-color: black;
    width: 88px;
    text-align: center;
    border-radius: 9999px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: none;
    font-size: 16px;
    float: right;
}
.DiaryCreate > .DiaryCreate-container > p.submit > button:hover {
    background-color: #4CA771;
    transition: 0.3s ease-out;
}
.DiaryCreate > .DiaryCreate-container > .quill-textarea > .quill > .ql-container {
    min-height: 430px;
}

/* NoteCreate */
.NoteCreate-container {
    max-width: 60vw;
    margin:auto;
}
.NoteCreate-container > p.input {
    border-bottom: 1px solid #d6d6d6;
    background-color: #fff;
    margin-bottom: 15px;
    margin-top: 25px;
}
.NoteCreate-container > p.input > input {
    border: 0;
    width: 100%;
    height: 28px;
    line-height: 28px;
    color: #292929;
    font-size: 26px;
    outline: none;
    padding: 1rem;
}
.NoteCreate-container > p.submit > button {
    margin-bottom: 15px;
    margin-top: 4rem;
    background-color: black;
    width: 140px;
    text-align: center;
    border-radius: 9999px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: none;
    font-size: 16px;
    float: right;
}